<!-- Header -->
<header class="header">
    <div class="header-content">
        <div class="header-left">
            <a href="/" class="logo-link">
                <span class="logo-text">SGEE</span>
            </a>
            <div class="header-icons">
                <i class="fas fa-truck"></i>
                <i class="fas fa-arrow-right"></i>
                <i class="fas fa-home"></i>
            </div>
        </div>
        <div class="header-right">
            <div class="search-container">
                <input type="text" placeholder="Buscar" class="search-input">
                <i class="fas fa-search search-icon"></i>
            </div>
            <div class="header-user-icons">
                <div class="user-icon-container">
                    <i class="fas fa-user"></i>
                    <span class="user-label">cliente</span>
                </div>
                <a href="/carrito" class="cart-icon-container">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-badge">1</span>
                </a>
                <i class="fas fa-bell"></i>
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
    </div>
</header>

<!-- Navigation Bar -->
<nav class="navbar">
    <div class="navbar-content">
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
            <span>Categoria</span>
        </div>
    </div>
</nav>


